In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('../data/raw/sales_test.csv', low_memory=False)

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30490 entries, 0 to 30489
Columns: 400 entries, d_1542 to d_1941
dtypes: int64(400)
memory usage: 93.0 MB

In [3]:
df.head()

,d_1542,d_1543,d_1544,d_1545,d_1546,d_1547,d_1548,d_1549,d_1550,d_1551,...,d_1932,d_1933,d_1934,d_1935,d_1936,d_1937,d_1938,d_1939,d_1940,d_1941
0,0,1,0,2,1,0,2,0,1,0,...,2,4,0,0,0,0,3,3,0,1
1,0,0,0,0,0,0,0,0,1,0,...,0,1,2,1,1,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,...,1,0,2,0,0,0,2,3,0,1
3,4,1,0,1,3,5,2,3,0,2,...,1,1,0,4,0,1,3,0,2,6
4,3,0,0,1,1,0,2,0,2,1,...,0,0,0,2,1,0,0,2,1,0

In [4]:
df_1 = pd.read_csv('../data/raw/sales_train.csv', low_memory=False)

In [15]:
df_1.count()

id          30490
item_id     30490
dept_id     30490
cat_id      30490
store_id    30490
            ...
d_1537      30490
d_1538      30490
d_1539      30490
d_1540      30490
d_1541      30490
Length: 1547, dtype: int64

In [17]:
df_1.head()

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1532,d_1533,d_1534,d_1535,d_1536,d_1537,d_1538,d_1539,d_1540,d_1541
0,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,1,1,0,1,0,1,0,0,1
1,HOBBIES_1_002_CA_1_evaluation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,HOBBIES_1_003_CA_1_evaluation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,HOBBIES_1_004_CA_1_evaluation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,8,2,0,8,2,3,1,1,3,8
4,HOBBIES_1_005_CA_1_evaluation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,0,1,3,2,1,1,2,2,3

In [6]:
df_2 = pd.read_csv('../data/raw/items_weekly_sell_prices.csv', low_memory=False)

In [7]:
df_2.head()

  store_id        item_id  wm_yr_wk  sell_price
0     CA_1  HOBBIES_1_001     11325        9.58
1     CA_1  HOBBIES_1_001     11326        9.58
2     CA_1  HOBBIES_1_001     11327        8.26
3     CA_1  HOBBIES_1_001     11328        8.26
4     CA_1  HOBBIES_1_001     11329        8.26

In [9]:
df_3 = pd.read_csv('../data/raw/calendar.csv', low_memory=False)

In [12]:
df_3.head(20)

          date  wm_yr_wk     d
0   2011-01-29     11101   d_1
1   2011-01-30     11101   d_2
2   2011-01-31     11101   d_3
3   2011-02-01     11101   d_4
4   2011-02-02     11101   d_5
5   2011-02-03     11101   d_6
6   2011-02-04     11101   d_7
7   2011-02-05     11102   d_8
8   2011-02-06     11102   d_9
9   2011-02-07     11102  d_10
10  2011-02-08     11102  d_11
11  2011-02-09     11102  d_12
12  2011-02-10     11102  d_13
13  2011-02-11     11102  d_14
14  2011-02-12     11103  d_15
15  2011-02-13     11103  d_16
16  2011-02-14     11103  d_17
17  2011-02-15     11103  d_18
18  2011-02-16     11103  d_19
19  2011-02-17     11103  d_20

In [13]:
df_4 = pd.read_csv('../data/raw/calendar_events.csv', low_memory=False)

In [14]:
df_4.head(20)

          date       event_name event_type
0   2011-02-06        SuperBowl   Sporting
1   2011-02-14    ValentinesDay   Cultural
2   2011-02-21    PresidentsDay   National
3   2011-03-09        LentStart  Religious
4   2011-03-16        LentWeek2  Religious
5   2011-03-17    StPatricksDay   Cultural
6   2011-03-20        Purim End  Religious
7   2011-04-24           Easter   Cultural
8   2011-04-24   OrthodoxEaster  Religious
9   2011-04-26       Pesach End  Religious
10  2011-05-05    Cinco De Mayo   Cultural
11  2011-05-08     Mother's day   Cultural
12  2011-05-30      MemorialDay   National
13  2011-05-31   NBAFinalsStart   Sporting
14  2011-06-12     NBAFinalsEnd   Sporting
15  2011-06-19     Father's day   Cultural
16  2011-07-04  IndependenceDay   National
17  2011-08-01   Ramadan starts  Religious
18  2011-08-31      Eid al-Fitr  Religious
19  2011-09-05         LaborDay   National

In [26]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

# Load your dataset (assuming it's in a CSV format)
df_1 = pd.read_csv('../data/raw/sales_train.csv', low_memory=False)
# Subset your data to the first 500 rows
subset_data = df_1.iloc[:500]

# Extract the sales data for each item as a time series
sales_data = subset_data.iloc[:, 6:]  # Assuming the sales columns start from d_1 onwards

# Transpose the sales data to have time steps as rows and items as columns
sales_data = sales_data.T

# Normalize the data using Min-Max scaling
scaler = MinMaxScaler()
sales_data_scaled = scaler.fit_transform(sales_data)

# Prepare the target variable (sales) for all 500 items
target_item_ids = subset_data['item_id'].unique()  # Get unique item IDs
models = {}  # Store trained models for each item

for target_item_id in target_item_ids:
    # Extract the sales data for the current item
    y = sales_data_scaled[sales_data.index == target_item_id]

    # Create input sequences for the LSTM model
    sequence_length = 100  # You can adjust this based on your data
    X = []

    for i in range(len(y) - sequence_length):
        X.append(y[:, i:i+sequence_length])

    X = np.array(X)

    # Now you can print or use X for model training or further processing
    print(X)

[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]